body{
    background: #42275a;  
    background: -webkit-linear-gradient(to right, #734b6d, #42275a); 
    background: linear-gradient(to right, #734b6d, #42275a);
    font-size: 16px;
}

h1{
    border-bottom: 1px solid rgba(54, 0, 104, 0.2);
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}

.container{
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab); 
    background: linear-gradient(to right, #ffffff, #abbaab);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.subcontainer{
    display: flex;
}

.balance p{
    font-size: 1.5rem;
}

.item{
    background-color: #42275a;
    border-radius: 6px;
    color: white;
    margin: 0.5rem;
    list-style: none;
    padding: 0.5rem;
}

.delete{
    background-color: rgb(179, 0, 0);
    border-radius: 30%;
    margin-left: 1rem;
    padding: 2px 5px;
}